[Unit]
Description=Disables SSH if password has not been changed
After=armbian-firstrun.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/auto-disable-ssh
