[Unit]
Description=Runs on first boot after flashing
After=var-log.hdd.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/rebuild-first-run

[Install]
WantedBy=basic.target
